.header {
  height: 56px;
  margin-bottom: 50px;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    text-decoration: none;
    color: white;
  }
}

.linkLabel {
  margin-right: 5px;
}
