@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

body {
  background-color: #01010c;
  box-shadow: inset 0 0 100px 25px rgba(100, 150, 255, 0.2);
}

[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #01010c;
  --mantine-color-dark-filled: #0a0a1a;
  --mantine-color-dark-filled-hover: #12122a;
  --mantine-color-dark-0: #c1c2c5;
  --mantine-color-dark-1: #a6a7ab;
  --mantine-color-dark-2: #909296;
  --mantine-color-dark-3: #5c5f66;
  --mantine-color-dark-4: #373a40;
  --mantine-color-dark-5: #2c2e33;
  --mantine-color-dark-6: #1a1a2e;
  --mantine-color-dark-7: #0f0f1a;
  --mantine-color-dark-8: #070710;
  --mantine-color-dark-9: #01010c;
  --mantine-color-default: #0a0a1a;
  --mantine-color-default-hover: #12122a;
  --mantine-color-default-border: rgba(255, 255, 255, 0.1);
}
