@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

body {
  background-color: #01010c;
  box-shadow: inset 0 0 100px 25px rgba(100, 150, 255, 0.2);
  @media (max-width: 48em) {
    /* sm breakpoint */
    background-color: #01010c;
    box-shadow: inset 0 0 50px 12px rgba(100, 150, 255, 0.2);
  }
}

.mantine-AppShell-navbar {
  background-color: transparent;
  @media (max-width: 48em) {
    /* sm breakpoint */
    background-color: #01010c;
    box-shadow: inset 0 0 50px 12px rgba(100, 150, 255, 0.2);
  }
}

[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #01010c;
  --mantine-color-dark-filled: #0a0a1a;
  --mantine-color-dark-filled-hover: #12122a;
  --mantine-color-dark-0: #c1c2c5;
  --mantine-color-dark-1: #a6a7ab;
  --mantine-color-dark-2: #909296;
  --mantine-color-dark-3: #5c5f66;
  --mantine-color-dark-4: #373a40;
  --mantine-color-dark-5: #2c2e33;
  --mantine-color-dark-6: #1a1a2e;
  --mantine-color-dark-7: #01010c;
  --mantine-color-dark-8: #070710;
  --mantine-color-dark-9: #01010c;
  --mantine-color-default: #0a0a1a;
  --mantine-color-default-hover: #12122a;
  --mantine-color-default-border: rgba(255, 255, 255, 0.1);
}

media-loading-indicator[medialoading] {
  --media-loading-indicator-opacity: 1;
}

media-volume-range {
  position: absolute;
  left: 0px;
  bottom: 2px;
  transform: rotate(-90deg);
  transform-origin: left top;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.volume-hover-container {
  position: relative;
}

.volume-hover-container:hover media-volume-range {
  opacity: 1;
  visibility: visible;
}

@media (pointer: coarse) {
  .volume-hover-container {
    display: none;
  }
}
.volume-hover-container media-mute-button {
  --media-tooltip-display: none;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px gold, 0 0 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px gold, 0 0 30px rgba(255, 215, 0, 0.8);
  }
}
