.link {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  border: 1px solid transparent;
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-7)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border: 1px solid
      light-dark(var(--mantine-color-white), var(--mantine-color-white));
    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-7)
      );
      border: 1px solid
        light-dark(var(--mantine-color-white), var(--mantine-color-white));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

      .linkIcon {
        color: light-dark(
          var(--mantine-color-black),
          var(--mantine-color-white)
        );
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  width: 25px;
  height: 25px;
}
